<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Таймлиф форма</title>
    <link th:href="@{/aloha.css}" rel="stylesheet" />
</head>
<body>
<form th:object="${groups}" th:action="@{/aloha}" method="get">
    <div class="form-group">
        <label for="group">Группа:</label>
        <select class="form-control" id="group" name="group">
            <option th:each="group : ${groups}" th:value="${group.getName()}" th:text="${group.getName()}" th:selected="${group.getName() == stringNameGroup}">Group</option>
        </select>
    </div>
    <div class="form-group">
        <label for="time">Неделя:</label>
        <select class="form-control" id="time" name="time">
            <option th:each="week : ${weeks}" th:value="${week}" th:text="${week}" th:selected="${week == stringDate}">Time</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Найти</button>
</form>


<link href="../static/aloha.css" rel="stylesheet"/>
<h1>Расписание</h1>
<div th:each="day : ${weekDays}">
    <h2 th:text="${day}"></h2>
    <table>
        <thead>
        <tr>
            <th>Time</th>
            <th>Activity</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="schedule : ${schedules[day]}">
            <td th:text="${schedule.time}"></td>
            <td th:text="${schedule.activity}"></td>
        </tr>
        <tr th:if="${#lists.isEmpty(schedules[day])}">
            <td colspan="2">No schedule added yet</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>